@font-face {
    font-family: 'Calibri';
    src: url('fonts/calibri.eot');
    src: local('Calibri'), url('fonts/calibri.woff') format('woff'), url('fonts/calibri.ttf') format('truetype'), url('fonts/calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}